{% extends 'base.html.twig' %}

{% block title %}Editar Empresa
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row mt-5">
			<div class="col-3"></div>
			<div class="col-6">
				<h1>Editar Empresa</h1>
			</div>
			<div class="col-3"></div>
		</div>
		<div class="row">
			<div class="col-3"></div>
			<div class="col-6">
				{{ include('empresa/_form.html.twig', {'button_label': 'Editar'}) }}
				<a class="btn btn-danger mt-1" href="{{ path('empresa_index') }}">Cancelar</a>
			</div>
			<div class="col-3"></div>
		</div>
	</div>
{% endblock %}
